/* ABOUT */

/* week 2 */
#about_h1 {
    color: saddlebrown;
}

#h1_span {
    color: darkolivegreen;
}

.about_article {
    background-color: lightgray;
    padding: 10px;
    width: calc(196% / 2);
}

/* week 3 - media queries */
/* using arbitrary px size from */
/* https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* small: less than 640px */
@media screen and (max-width: 640px) {
    article#small { 
        background-color: red;
        color: white;
    }
    footer {
        color: red;
    }
}

/* medium: less than 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    article#medium { 
        background-color: green;
        color: white;
    }
    footer {
        color: green;
    }
}

/* Large: greater than 1008px */
@media screen and (min-width: 1008px) {
    article#large { 
        background-color: blue;
        color: white;
    }
    footer {
        color: blue;
    }
}

/* orientation portrait */
@media screen and (orientation: landscape) {
    #orientation_h2 { 
        background-color: white;
        color: white;
    }
}
/* portrait is height > width */
@media screen and (orientation: portrait) {
    #about_h1 {
        color: white;
    }
    #orientation_h2 { 
        background-color: yellow;
        color: black;
    }
}

/* week 4 assignment */

ul {
    display: flex;
    background-color: darkblue;
    background-image: url("../images/camo.jpeg");
    background-size: cover;
    background-position: center;
    height: 80px;
    width: calc(198% / 2);
    align-items: center;
    padding-left: 10px;
}

ul:hover {
    background-image: none;
    background-color: darkolivegreen;
    border: 2px solid darkgreen;
    width: calc(197% / 2);
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px 5px 0px 20px;
}
