/* CONTACT */

#contact_h1 {
    color: black;
    -webkit-text-stroke: 1px green;
}

h1 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 60px;
    
}

.home_article {
    background-color: lightgray;
    padding: 10px;
    width: calc(196% / 2);
}

/* https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* small: less than 640px */
@media screen and (max-width: 640px) {
    article#small { 
        background-color: red;
        color: white;
    }
    footer {
        color: red;
    }
}

/* medium: less than 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    article#medium { 
        background-color: green;
        color: white;
    }
    footer {
        color: green;
    }
}

/* Large: greater than 1008px */
@media screen and (min-width: 1008px) {
    article#large { 
        background-color: blue;
        color: white;
    }
    footer {
        color: blue;
    }
}

/* orientation portrait */
@media screen and (orientation: landscape) {
    #orientation_h2 { 
        background-color: white;
        color: white;
    }
}
/* portrait is height > width */
@media screen and (orientation: portrait) {
    #contact_h1 {
        color: white;
    }
    #orientation_h2 { 
        background-color: yellow;
        color: black;
        font-family: 'Black Ops One', sans-serif;
        font-weight: 100;
        /* border: 1px dotted black; */
    }
}

ul {
    display: flex;
    background-color: darkblue;
    background-image: url(https://media3.giphy.com/media/j72urIj7e8dpthdl4B/giphy.gif?cid=ecf05e47gyazt36b0f2bzqqs12nr04j0gnasl3lbu9dapkrl&ep=v1_gifs_related&rid=giphy.gif&ct=g);
    background-size: cover;
    background-position: center;
    height: 80px;
    width: calc(198% / 2);
    align-items: center;
    padding-left: 10px;
    font-family: "Nova Square";
    font-style: normal;
}

/* ul:hover {
    background-image: none;
    background-color: darkolivegreen;
    border: 2px solid darkgreen;
    width: calc(197% / 2);
} */
@media (hover: hover) {
    ul:hover {
        background-image: url(https://media2.giphy.com/media/xT8qB50yhFINpFTymI/giphy.gif?cid=ecf05e47d2au6hy74uuirru0qpgshhkekdwdyf9zk1znlj11&ep=v1_gifs_related&rid=giphy.gif&ct=g);
        border: 4px solid green;
        width: calc(197% / 2);
    }
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px 5px 0px 20px;
}

/* give a futuristic digital look */
article {
    font-family: "Nova Square";
    font-style: normal;
}

footer {
    font-family: "Nova Square";
    font-style: normal;
}

.small {
    width: 100%;
    height: auto;
}

form {
    font-family: "Nova Square";
    font-style: normal;
}

fieldset.contact {
    margin-top: 20px;
    padding-left: 10px;
    /* border: 1px solid black; */
}

b {
    color: red;
}

div.form {
    margin-top: 20px;
}

label#firstName {
    padding-right: 26px;
}

label#email {
    padding-right: 1px;
}

label#streetAddress {
    padding-right: 48px;
}

div.submit {
    padding-top: 30px;
    padding-bottom: 10px;
}

input[type="submit"] {
    text-transform: uppercase;
    padding: 5px;
}

input[type="submit"]:hover {
    background-color: blue;
    color: white;
    font-weight: bolder;
}