/* this is my css styles sheet */

/* week 2 */
#header_h1 {
    color: red;
}
.home_article {
    background-color: lightgray;
    padding: 10px;
    width: calc(196% / 2);
}

/* week 3 - media queries */
/* using arbitrary px size from */
/* https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* small: less than 640px */
@media screen and (max-width: 640px) {
    article#small { 
        background-color: red;
        color: white;
    }
    footer {
        color: red;
    }
}

/* medium: less than 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    article#medium { 
        background-color: green;
        color: white;
    }
    footer {
        color: green;
    }
}

/* Large: greater than 1008px */
@media screen and (min-width: 1008px) {
    article#large { 
        background-color: blue;
        color: white;
    }
    footer {
        color: blue;
    }
}

/* orientation portrait */
@media screen and (orientation: landscape) {
    #header_h2 { 
        background-color: white;
        color: white;
    }
}
/* portrait is height > width */
@media screen and (orientation: portrait) {
    #header_h1 {
        color: white;
    }
    #header_h2 { 
        background-color: yellow;
        color: black;
    }
}

/* week 4 assignment */

nav {

}

ul {
    display: flex;
    background-color: darkblue;
    height: 80px;
    width: calc(197% / 2);
    align-items: center;
    /* justify-content: left; */
    padding-left: 10px;
}

ul:hover {
    background-color: blueviolet;
    border: 2px solid red;
}

li {
    list-style: none;
    /* width: calc(100% / 4); */
}

a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px 5px 0px 20px;
}
